<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Stream all 88 Soundyears releases here:</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-spotify wow bounceIn text-primary" style="color: white";></i>
                    <br>
                    <br>
                    <a href="https://open.spotify.com/artist/2gyHRIFrz1jpAua9y7zjpU" class="btn btn-default btn-xl" style="color: #F05F40;">Spotify</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-bandcamp wow bounceIn text-primary" style="color: white"; data-wow-delay=".1s"></i>
                    <br>
                    <br>
                    <a href="https://88soundyears.bandcamp.com/music" class="btn btn-default btn-xl" style="color: #F05F40;">Bandcamp</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-soundcloud wow bounceIn text-primary" style="color: white"; data-wow-delay=".2s"></i>
                    <br>
                    <br>
                    <a href="https://soundcloud.com/88soundyears/tracks" class="btn btn-default btn-xl" style="color: #F05F40;">Soundcloud</a>
                </div>
            </div>
        </div>
    </div>
</section>
