<section class="portfolio-box" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My other creative skills</h2>
                <hr>
                <p>Since I have over 10 years of experience in motion design & editing, here's a glimpse of my skills in the field. This Destiny 2 themed animation/song was made in my spare time, and it's a perfect showcase for how much dedication I can put into big projects. Feel free to contact me about similar jobs, even small ones, as I'm open to work.</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="video-container">
            <div>
              <iframe frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/gbscWAiGJZw"></iframe>
            </div>
    </div>
    </div>
</section>
